@page { margin: 0;
         size: 210mm 297mm;

 }

body {

  size: 210mm 297mm;
  font-family: arial, sans-serif;
  font-stretch: semi-condensed;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  font-family: arial, sans-serif;
  font-stretch: semi-condensed;
  font-size: 7pt;
}

th, td {
  border: 1px solid #000;
  font-family: arial, sans-serif;
  font-stretch: semi-condensed;
}

th {
  margin: 0 !important;
  padding: 0 !important;
  border: 1px solid #000;
  vertical-align: middle !important;
  font-family: arial, sans-serif;
  font-stretch: semi-condensed;
}
